<h1>Movies</h1>


  <% @movies.each do |movie| %>
    <div class="card-movie">
      <img src=<%= movie.poster_url %> />
        <!-- <div class="card-info"> -->
          <!-- <div> -->
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
          <!-- </div> -->
          <!-- <div> -->
            <h2 class="card-rating"><%= movie.rating %></h2>
            <td><%= link_to 'Show', movie %></td>
          </div>
      <% end %>
        </div>
    </div>


